@use "/src/scss/variables.scss" as var;

@mixin flex-col {
    display: flex;
}
@mixin flex-row {
    display: flex;
    flex-direction: column;
}

.breadcrumb__nav {
    width: 100%;
    @include flex-row;
    justify-content: center;
    align-items: center;
    background-color: var.$background-color;
    margin-bottom: 6rem;

    .separator {
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        width: 100%;
    }

    .breadcrumb__active h1 {
        text-align: center;
        font-size: 4.6rem;
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }

    .breadcrumb__nav__container {
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2.5rem;

        .breadcrumb__nav__item a {
            font-size: 1.2rem;
        }

        .active-breadcrumb a {
            color: var.$more-text;
        }

        .breadcrumb__separator {
            width: 1px;
            height: 1px;
            border: 1px solid black;
        }
    }

    @media (max-width: 768px) {
        & {
            margin-bottom: 4rem;
        }

        .breadcrumb__active h1 {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .breadcrumb__nav__container {
            padding-top: 1.6rem;
            padding-bottom: 1.8rem;

            .breadcrumb__nav__item a {
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }

        .breadcrumb__active h1 {
            font-size: 3.2rem;
        }
    }

    @media (max-width: 320px) {
        .breadcrumb__nav__container {
            .breadcrumb__nav__item a {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }

        .breadcrumb__active h1 {
            font-size: 2.2rem;
        }
    }
}
