@use "/src/scss/variables.scss" as var;

@mixin flex-col {
    display: flex;
}
@mixin flex-row {
    display: flex;
    flex-direction: column;
}

.breadcrumb__nav {
    @include flex-row;
    padding: 25px auto;
    background-color: var.$background-color;
    font-size: 12px;
    margin-bottom: 62px;

    .separator {
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        width: 100%;
    }

    .breadcrumb__active {
        text-align: center;
        padding: 25px;
    }

    .breadcrumb__nav__container {
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 25px;

        .breadcrumb__nav__item a {
            font-size: 12px;
        }

        .active-breadcrumb a {
            color: var.$more-text;
        }

        .breadcrumb__separator {
            width: 1px;
            height: 1px;
            border: 1px solid black;
        }
    }
}
