@use "/src/scss/variables.scss" as var;

@mixin flex-col {
    display: flex;
}
@mixin flex-row {
    display: flex;
    flex-direction: column;
}

.breadcrumb__nav {
    padding: 25px auto;
    background-color: var.$background-color;
    font-size: 12px;

    .breadcrumb__nav__container {
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 25px;

        .breadcrumb__nav__item {
            font-size: 12px;
        }

        .breadcrumb__separator {
            width: 1px;
            height: 1px;
            border: 1px solid black;
        }

        .active-breadcrumb {
            color: var.$more-text;
        }
    }
}
