@use "/src/scss/variables.scss" as v;

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

.branches-cards {
    display: grid;
    grid-template-columns: 30rem 30rem 1fr 1fr;
    grid-template-rows: repeat(2, 30rem);
    justify-content: center;
    gap: 3rem;
    padding: 0 5%;
    margin-bottom: 10rem;

    &:last-child {
        grid-column: span 2; // Растягивается на два столбца
        grid-row: 2; // Во второй строке
    }

    .branch-card {
        width: 30rem;
        @include flex-col;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 3.3rem 0 0 2.2rem;
        border: none;
        border-radius: 2rem;
        background-color: v.$background-color;
        transition: all 0.4s ease;

        &:hover {
            transform: rotateY(10deg);
        }

        .branch-card__city {
            text-transform: uppercase;
        }

        .branch-card__phone {
            font-size: 1.9rem;
            line-height: 2.8rem;
            margin-bottom: 1rem;
        }

        .branch-card__address {
            font-size: 1.4rem;
            color: v.$more-text;
        }

        .branch-card__routes {
            font-size: 1.4rem;
            line-height: 2rem;
            color: v.$main-red;
        }

        .branch-card__hours {
            align-items: flex-end;
            font-size: 1.4rem;
            line-height: 2rem;
            margin-bottom: 4rem;
        }
    }

    @media (max-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 30rem);
    }

    @media (max-width: 320px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 30rem);
    }
}
