@use "/src/scss/variables.scss" as var;

@mixin flex-col {
    display: flex;
}
@mixin flex-row {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 6.6rem;

    .contacts__content {
        @include flex-col;
        justify-content: center;
        gap: 5.5rem;
        max-width: 100%;

        .contact__content__main {
            @include flex-row;
            color: var.$main-text;
            justify-content: center;
            gap: 1rem;

            .contact__subtitle a {
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 3rem;
                color: var.$main-red;
            }
        }

        .contacts__info {
            display: flex;
            color: var.$more-text;
            font-size: 13px;
            line-height: 19px;

            .contacts__address {
                @include flex-row;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.9rem;
                color: var.$more-text;
                gap: 2rem;

                & div p {
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.9rem;
                    color: var.$more-text;
                }

                .contacts__address__important-info p {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.8rem;
                    color: var.$main-text;
                }
            }
        }

        .contacts__form__container {
            display: flex;
            flex-direction: column;
            max-width: 600px;

            & h2 {
                margin-bottom: 2rem;
            }

            .contacts__form__input {
                @include flex-row;
                gap: 3rem;

                & div {
                    display: flex;
                    gap: 3rem;
                }

                & input[type="text"] {
                    max-width: 300px;
                    max-height: 52px;
                    width: 300px;
                    padding-top: 1.7rem;
                    padding-left: 2rem;
                    padding-bottom: 11px;
                }

                & textarea {
                    -moz-appearance: none;
                    max-width: 63rem;
                    max-height: 13.3rem;
                    height: 13.3rem;
                    padding-top: 1.7rem;
                    padding-left: 2rem;
                    margin-bottom: 2rem;
                }

                & input[type="text"],
                & textarea {
                    width: 100%;
                    max-width: 100%;
                    padding-top: 1.7rem;
                    border: none;
                    border-radius: 1.4rem;
                    background-color: var.$background-color;
                    transition: background-color 0.3s ease;
                }

                & input[type="text"]:hover,
                & textarea:hover {
                    background-color: #fff;
                    border: 1px solid var.$background-color;
                }
                & input[type="text"]:focus,
                & textarea:focus {
                    border: 1px solid var.$background-color;
                    background-color: #fff;
                }

                // Валидация реализована через user-valid и user-invalid

                & input[type="text"]:user-valid,
                & textarea:valid {
                    border: 1px solid var.$background-color;
                    background-color: inherit;
                }
                & input[type="text"]:user-invalid,
                & textarea:user-invalid {
                    border: 1px solid var.$background-color;
                    background-color: #bf27381f;
                }
            }

            .contacts__form__agreement {
                display: flex;
                gap: 1.6rem;
                align-items: center;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6rem;
                color: var.$more-text;
                margin-bottom: 3.3rem;

                // Checkbox

                & input[type="checkbox"] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 0.4rem;
                    background-color: var.$background-color;
                    cursor: pointer;
                    transition: background-color 0.2s ease;

                    &:hover {
                        background-color: var.$hover-red;
                    }

                    &:checked {
                        background-color: var.$active-red;
                        mask: url("/src/assets/icons/arrow.svg") center/contain
                            no-repeat;
                    }
                }

                & span {
                    display: none;
                }

                & label {
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                }

                & label::after {
                    content: "обработки персональных данных";
                    color: var.$main-text;
                    font-weight: bold;
                }
            }

            .contacts__form__button {
                max-width: 19rem;
                padding: 1.9rem 3.7rem;
                text-align: center;
                font-family: "RoadRadio", sans-serif;
                color: #fff;
                font-weight: 400;
                line-height: 1.4rem;
                background-color: var.$main-red;
                border-radius: 1.5rem;
                border: none;
                cursor: pointer;
                transition: background-color 0.4s ease;

                &:hover {
                    background-color: var.$hover-red;
                }

                &:active {
                    background-color: var.$active-red;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 0 2%;

        .contacts__content {
            .contacts__info {
                .contacts__address {
                    .contacts__address__important-info p {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .contacts__content h2 {
            font-size: var.$fz-h2-tablet;
        }

        .contacts__form__container {
            .contacts__form__input {
                gap: 1.2rem;

                .contacts__form__agreement {
                    gap: 0.3rem;

                    & label {
                        font-size: 1.3rem;
                        line-height: 1.5rem;
                    }

                    & input[type="checkbox"] {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .contacts__form__input div {
                flex-direction: column;
            }
        }
    }
}
