@use "../variables.scss" as v;

.footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .footer__separator {
        position: absolute;
        bottom: 6.8rem;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .footer__navigate {
        display: flex;
        padding: 0 5%;
        background-color: v.$footer-nav;

        .footer__nav__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 6.7rem;

            .footer__nav__product {
                padding-top: 6.3rem;

                & a p {
                    font-size: 2.4rem;
                    line-height: 3.3rem;
                    color: #fff;
                    transition: text-decoration 1s ease-in-out;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .footer__nav {
                max-width: 50rem;

                & ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1.5rem;
                    color: #fff;
                }

                .footer__nav-link a {
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    color: v.$more-text;

                    &:hover {
                        color: #fff;
                    }
                }
            }
            .footer__copyright {
                font-size: 1.3rem;
                line-height: 1.4rem;
                color: v.$more-text;
                padding-bottom: 3.3rem;
            }
        }
    }

    .footer__aside {
        display: flex;
        padding: 0 5%;
        background-color: v.$footer-feedback;

        .footer__feedback {
            display: flex;
            flex-direction: column;

            justify-content: space-between;
            color: #fff;
        }

        .footer__feedback__container {
            display: flex;
            padding-top: 6.3rem;
            gap: 6rem;

            .footer__feedback__contacts {
                display: flex;
                gap: 6rem;

                .footer__feedback__contacts-item {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .footer__feedback__number {
                    font-size: 3rem;
                    line-height: 3.9rem;
                    font-weight: 500;
                }

                .footer__feedback__email a {
                    font-size: 2.4rem;
                    line-height: 3.3rem;
                    font-weight: 400;
                    color: v.$main-red;
                    cursor: pointer;

                    &:hover {
                        color: v.$hover-red;
                    }

                    &:active {
                        color: v.$active-red;
                    }
                }
            }

            .footer__feedback__btn {
                max-width: 19rem;
                width: 19rem;
                padding: 1.9rem 2.7rem 1.9rem 2.7rem;
                font-family: "RoadRadio", sans-serif;
                font-weight: 400;
                color: #fff;
                line-height: 1.4rem;
                align-items: center;
                border: 1px solid v.$footer-btn;
                background-color: inherit;
                border-radius: v.$border-radius-desktop;
                cursor: pointer;
                transition: background-color 0.5s ease;

                &:hover {
                    background-color: v.$hover-red;
                }

                &:active {
                    background-color: v.$active-red;
                }
            }
        }

        .footer__feedback__address {
            max-width: 500px;
            font-size: 1.6rem;
            line-height: 2.1rem;
        }

        .footer__feedback__ad {
            font-size: 1.3rem;
            color: v.$more-text;
            padding-bottom: 3.3rem;

            &::after {
                content: "TODO";
                color: #fff;
            }

            & span {
                display: none;
            }
        }
    }

    @media (max-width: 720px) {
        & .footer__navigate {
            padding: 0 2%;
            .footer__nav__container {
                .footer__nav__product {
                    padding-top: 4.3rem;

                    & a p {
                        font-size: 2rem;

                        &:hover {
                            color: v.$main-red;
                        }
                    }
                }
            }
        }

        & .footer__aside {
            padding: 0 2%;

            .footer__feedback {
                .footer__feedback__ad span {
                    display: none;
                }

                .footer__feedback__ad::after {
                    content: TODO;
                    color: v.$main-red;
                }
            }

            .footer__feedback__container {
                padding-top: 4.3rem;

                .footer__feedback__contacts {
                    flex-direction: column;
                    gap: 2rem;

                    .footer__feedback__number {
                        font-size: 2.3rem;
                        gap: 2rem;
                    }
                }
            }
        }
    }

    @media (max-width: 320px) {
        & {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .footer__aside {
                .footer__feedback {
                    .footer__feedback__ad span {
                        display: none;
                    }

                    .footer__feedback__ad::after {
                        content: TODO;
                        color: #fff;
                    }
                }
            }
        }
    }
}
