<nav class="breadcrumb__nav">
    <ul class="breadcrumb__nav__container">
        <li class="breadcrumb__nav__item"><a href="#">Главная</a></li>
        <li class="breadcrumb__nav__item active-breadcrumb">
            <a href="#">Контакты</a>
        </li>
    </ul>
</nav>
<div class="separator"></div>
<section class="contacts">
    <h1>Контакты</h1>
    <div class="contacts__content">
        <article class="contacts__info">
            <h2>8 (903) 467 98 51</h2>
            <p class="contact__subtitle"><a href="#">info@monevac.ru</a></p>
            <address class="contacts__address">
                <div>
                    <p>
                        Полное наименование: Общество с ограниченной
                        ответственностью «МОНЕВАК»
                    </p>
                    <p>Сокращенное наименование: ООО «МОНЕВАК»</p>
                </div>

                <div>
                    <p>>ИНН: 3448050610</p>
                    <p>>КПП: 344801001</p>
                    <p>>КПП: 344801001</p>
                    <p>>ОКПО: 67354285</p>
                    <p>>ОКАТО: 18401000000</p>
                    <p>>ОГРН: 1103461002480</p>
                    <p>>Код по ОКВЭД: 51.70</p>
                </div>

                <div>
                    <p>
                        Банк: Филиала «Ростовский» ОАО «Альфа-Банк» г Ростов на
                        Дону
                    </p>
                    <p>БИК: 046015207</p>
                    <p>к/с: 30101810500000000207</p>
                    <p>р/с: 40702810926090000003</p>
                </div>

                <div>
                    <p>
                        Юридический адрес: 400080, Волгоградская обл. г.
                        Волгоград ул. Командира Рудь,14А, офис 13
                    </p>
                    <p>
                        Почтовый адрес: 400080, Волгоградская обл. г. Волгоград
                        ул. Командира Рудь, 14А, офис 13
                    </p>
                </div>
            </address>
            <aside class="contacts__form__container">
                <h2>Остались вопросы?</h2>
                <form action="#" method="post" class="contacts__form">
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Ваше имя"
                        required
                    />
                    <input
                        type="text"
                        name="tel"
                        id="tel"
                        placeholder="Ваш телефон"
                        required
                    />
                    <textarea
                        name="tel"
                        id="tel"
                        placeholder="Ваше сообщение"
                        required
                    ></textarea>

                    <div class="contacts__form__agreement">
                        <input
                            type="checkbox"
                            id="agreement"
                            name="agreement"
                            required
                        />
                        <label for="agreement"
                            >Я подтверждаю согласие с политикой в отношении
                            <strong
                                >обработки персональных данных</strong
                            ></label
                        >
                    </div>
                    <button type="submit" class="contacts__form__button">
                        Задать вопрос
                    </button>
                </form>
            </aside>
        </article>
    </div>
</section>
