<section class="branches-cards">
    <div class="branch-card">
        <h3 class="branch-card__city">Москва</h3>
        <p class="branch-card__phone">
            +7 (499) 136-17-18 <br />
            +7 (903) 467-98-51
        </p>
        <p class="adress">
            115114, ул. Дербеневская, д. 1, стр. 1, подъезд 44, офис 6 (станция
            метро "Павелецкая")
        </p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 10:00 до 18:00</p>
    </div>
    <div class="branch-card">
        <h3 class="branch-card__city">Волгоград</h3>
        <p class="branch-card__phone">
            +7 (8442) 65-08-88 <br />
            +7 (8442) 65-08-80
        </p>
        <p class="adress">400080, ул. Командира Рудь, 14А</p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 08:00 до 17:00</p>
    </div>
    <div class="branch-card">
        <h3 class="branch-card__city">Краснодар</h3>
        <p class="branch-card__phone">
            +7 (861) 292-71-88 <br />
            +7 (903) 467-98-51
        </p>
        <p class="adress">350015, ул. Митрофана Седина, 176</p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 08:00 до 17:00</p>
    </div>
    <div class="branch-card">
        <h3 class="branch-card__city">Саратов</h3>
        <p class="branch-card__phone">
            +7 (927) 626-00-50 <br />
            +7 (903) 467-98-51
        </p>
        <p class="adress">410080, пр-т Строителей, 1</p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 10:00 до 18:00</p>
    </div>
    <div class="branch-card">
        <h3 class="branch-card__city">Воронеж</h3>
        <p class="branch-card__phone">
            +7 (473) 229-63-78 <br />
            +7 (903) 467-98-51
        </p>
        <p class="adress">394030, ул. Комиссаржевской, 10</p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 10:00 до 18:00</p>
    </div>
    <div class="branch-card">
        <h3 class="branch-card__city">Ереван</h3>
        <p class="branch-card__phone">
            +374 91 21 90 69 <br />
            +374 60 50 90 69
        </p>
        <p class="adress">Район Аван 4, дом 2</p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 10:00 до 18:00</p>
    </div>
    <div class="branch-card">
        <h3 class="branch-card__city">Новосибирск</h3>
        <p class="branch-card__phone">
            +7 (383) 20-62-461; +7 (383) 20-62-711 +7 (903) 467-98-51 <br />
            Факс: +7 (383) 20-62-209; +7 (383) 20-62-210
        </p>
        <p class="adress">630039, ул. Никитина 116, к.3</p>
        <a href="#" target="_blank" class="branch-card__routes"
            >Проложить маршрут</a
        >
        <p class="branch-card__hours">Режим работы: c 10:00 до 18:00</p>
    </div>
</section>
