<footer class="footer">
    <div class="footer__navigate">
        <div class="footer__nav__container">
            <div class="footer__nav__product">
                <a href="#"><p>Упаковочное оборудование</p></a>
                <a href="#"><p>Пленки</p></a>
                <a href="#"><p>Пакеты</p></a>
                <a href="#"><p>Прочие материалы</p></a>
            </div>
            <nav class="footer__nav">
                <ul>
                    <li class="footer__nav-link">
                        <a href="#">О компании</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Партнеры</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Доставка</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Оплата</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Обмен и возврат</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Контакты</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Распродажа</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Сервис</a>
                    </li>
                    <li class="footer__nav-link">
                        <a href="#">Новости</a>
                    </li>
                </ul>
            </nav>
            <p class="footer__copyright">© Моневак 2020 | Все права защищены</p>
        </div>
    </div>
    <div class="footer__aside">
        <div class="footer__feedback">
            <div class="footer__feedback__container">
                <div class="footer__feedback__contacts">
                    <p class="footer__feedback__number">
                        +7 (499) 136-17-18 <br />
                        +7 (903) 467-98-51
                    </p>
                    <p class="footer__feedback__email">
                        <a href="#" target="_blank">info@monevac.ru</a>
                    </p>
                </div>

                <a href="#" target="_blank">
                    <button class="footer__feedback__btn">
                        Обратный звонок
                    </button>
                </a>
            </div>
            <p class="footer__feedback__address">
                Москва ул. Дербеневская, д. 1, стр. 1, подъезд 44, офис 6
                (станция метро "Павелецкая")
            </p>
            <p class="footer__feedback__ad">
                Разработка и продвижение сайта - <span>TODO</span>
            </p>
        </div>
    </div>
</footer>
