<header class="header">
    <nav class="header__navbar">
        <img
            src="/src/assets/icons/Меню.svg"
            alt="Меню"
            class="header__burger-menu"
        />
        <ul class="header-navbar__container">
            <li class="header_navbar__navItem">
                <a href="#">Упаковка</a>
            </li>
            <li class="header__navbar__navItem">
                <a href="#">Оборудование</a>
            </li>
            <li class="header__navbar__navItem">
                <a href="#">Сервис и запчасти</a>
            </li>
        </ul>
    </nav>
    <div class="header__logo">
        <img src="/src/assets/images/Logo.png" alt="Logo" />
    </div>
    <div class="header__contact-info__container">
        <div class="header__contact-info__logo">
            <img src="/src/assets/icons/Сравение.svg" alt="Сравнение" />
            <img src="/src/assets/icons/Поиск.svg" alt="Поиск" />
        </div>
        <div class="header__contact-info">
            <span>+7 (499) 136-17-18</span>
            <a href="#">info@monevac.ru</a>
        </div>
        <a href="#" class="header__contact-info__submit"
            ><button>Оставить заявку</button></a
        >
    </div>
</header>
