@use "./reset.scss";
@use "./variables.scss" as var;

//Components
@use "./components/header.scss" as header;

body {
    font-family: "Golos Text", sans-serif;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: var.$main-text;
}

.main {
    width: 100%;
}
