@use "./reset.scss";
@use "./variables.scss" as var;

//Components
@use "./components/header.scss" as header;
@use "./components/breadcrumb.scss" as breadcrumb;
@use "./components/contacts.scss" as contacts;
@use "./components/map.scss" as map;
@use "./components/card.scss" as card;
@use "./components/footer.scss" as footer;
@use "./fonts.scss" as fonts;

body {
    font-family: "Golos Text", sans-serif;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

h1 {
    font-family: "RoadRadio", sans-serif;
    font-weight: 400;
    line-height: 46px;
}

h2 {
    font-family: "RoadRadio", sans-serif;
    font-weight: 400;
    font-size: var.$fz-h2-desktop;
}

h3 {
    font-size: var.$fz-h3-desktop;
}

h4 {
    font-family: "RoadRadio", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 29px;
}

a {
    text-decoration: none;
    color: var.$main-text;
}

.main {
    width: 100%;
}
