$main-red: #bf2738;
$hover-red: #cc2a3c;
$active-red: #991f2d;
$link: #bf2738;
$main-text: #262633;
$more-text: #797986;
$border: #262633;

$button-radius: 14px;
$border-radius-desktop: 30px;
$border-radius-mobile: 14px;

$fz-h1-desktop: 46px;
$fz-h1-tablet: 32px;
$fz-h1-mobile: 22px;
$fz-h2-desktop: 36px;
$fz-h2-tablet: 28px;
$fz-h2-mobile: 22px;
$fz-h3-desktop: 28px;
$fz-h3-tablet: 26px;
$fz-h3-mobile: 20px;

$fz-p-desktop: 16px;
$fz-description-desktop: 14px;
